.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 367px;
  background: var(--white);

  /* Card Shadow */
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;

}

.card__container {
  flex-grow: 1;
  margin: 26px 26px 26px 26px;
/*  border: 1px solid red;*/
}

.card__title {
  display: flex;
  justify-content: center;
  padding: 0px 0px 30px 0px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;

  /* identical to box height */
  text-align: center;

  color: vr(--black);

}