.main {
  display: flex;
  align-items: center;
  border: 1px solid blue;
}

.main__components {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  border: 1px solid blue;
}

.main__component {
  width: 200px;
  height: 200px;
  border: 1px solid blue;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
}

.footer__discription {
  border: 1px solid grey;
}

.footer__title {
  border: 1px solid grey;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid green;
}

.header__logo {
  border: 1px solid green;
}

.header__title {
  border: 1px solid green;
}

.menu {
  display: flex;
  flex-direction: row;
  border: 1px solid pink;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border: 1px solid pink;
}

.nav-menu__item {
  border: 1px solid pink;
}

.nav-menu__item_active {
  color: red;
}

.nav-menu__item_inactive {
  color: grey;
}

.theme-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
  border: 1px solid yellow;
}

.theme-switch__logo {
  border: 1px solid grey;
}

.theme-switch__switch {
  border: 1px solid yellow;
}
