.histogram {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--black)
  background: var(--white);

  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 16px 24px 24px 24px;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

}

.histogram__titles {
  display: flex;
  flex-direction: column;
  gap: 6px;

}

.histogram__title {
}

.histogram__subtitle {
  font-size: 20px;
  line-height: 26px;
}

.histogram__links {
  display: flex;
  flex-direction: column;

}

.histogram__link {
  color: var(--button-default-primary);
  padding: 3px 0px 0px 0px;
}

.histogram__chart {
  height: 50px;
  display: flex;
  align-items: flex-end;
  gap: 1px;
  margin-top: 39px;
}

.histogram__chart-column {
  background: var(--button-default-primary);
  flex-grow: 1;
}
