.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 96px 160px 136px 160px;
  max-width: 1110px;
}

