.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header  header header"
                       "sidemenu main main"
                       "footer  footer footer";

  background: var(--grey-5);
}

.page__header {
  grid-area: header;
}

.page__menu {
  grid-area: sidemenu;
  justify-self: end;
}

.page__main {
  grid-area: main;
}


.page__footer {
  grid-area: footer;
}

