.main {
  grid-area: main;
}

.main__container {
  max-width: 825px;
  height: 746px;
  background: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;

/*  border: 1px solid grey;*/
}

.main__component {

}
