.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;

  color: var(--black);
  padding: 72px 0px 0px 0px;
}

.footer__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */
  text-align: center;

  /* Black */
  color: var(--black);
  max-width: 640px;

}

