.menu {

}

.menu__container {
  background: var(--grey-5);
  max-width: 229px;
  padding: 0px 56px 0px 0px;
}

.menu__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: var(--black);
  padding: 0px 0px 16px 0px;
}

.menu__list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: var(--black);
}

.menu__item {
  padding: 0px 0px 4px 0px;
}

.menu__link {

}
.menu__item_page {
  padding: 26px 0px 4px 0px;
}